.cover__link {
  max-width: 1184px;
  min-height: 748px;
  text-decoration: none;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.cover__link:hover::before {
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.cover__link::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  background-color: #2a2c2f;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}

