.page {
  width: 1280px;
  height: 100%;
  background-color: #2a2c2f;
  margin: auto;
  padding: 0;
  font-family: "Inter", "Helvetica Neue", "Arial", "sans-serif";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 1024px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
   width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}
