.header__link_size_en {
  max-width: 29px;
  max-height: 28px;  
  font-size: 10;
}

@media screen and (max-width: 320px) {
  .header__link_size_en {  
    min-width: 22px;
    min-height: 20px; 
  }
}