.place__image {
  max-width: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1152px) {
  .place__image {
    max-width: 450px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 920px) {
  .place__image {
    max-width: 390px;
  }
}

@media screen and (max-width: 820px) {
  .place__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 100%;
  }
}
