.lead {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 56px 148px 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 48px 48px 0 48px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 56px 2px 0 2px;
  }
}
