.cover__subtitle {
  position: relative;
  max-width: 360px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
