.header__logo {
  background-image: url(../../../images/logo.svg);
  width: 176px;
  height: 52px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 467px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-image: url(../../../images/logo-142.svg);
  }
}

