.header {
  max-width: 1184px;
  padding: 28px 48px 0 48px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 467px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
}
