.lead__title {
  max-width: 720px;
  max-height: 200px;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  padding: 0px 132px 0px 132px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding: 0px 104px 0 104px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    padding: 0 16px 0 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
