.lead__title {
  max-width: 720px;
  max-height: 200px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__title {  
    padding: 48px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {  
    padding: 0 14px 0 14px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}