.footer__links {
  gap: 18px; 
  margin: 0; 
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
  .footer__links {  
    flex-direction: column;
    gap: 32px;
  }
}