.footer__link-box {
  list-style-type: none;
  display:inline-block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 18px;
}

@media screen and (max-width: 320px) {
  .footer__link-box {  
    font-size: 1.5rem;
    line-height: 24px;
  }
}
