.intro {
  max-width: 720px;
  margin: 91px 0 0 148px;
  display: flex;  
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .intro { 
    max-width: 690px; 
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {  
    max-width: 720px;
    margin: 88px auto 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {  
    max-width: 288px;
    margin: 64px auto 0 auto;
  }
}