.place__paragraph_margin {
  margin: 0;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}


@media screen and (max-width: 768px) {
  .place__paragraph_margin {  
    font-size: 16px;
  }
}

